terratowns_endpoint="https://terratowns.cloud/api"
tennis = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/tennis"
  content_version = 2 
}
spotify = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/spotify"
  content_version = 1 
}